@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root {
    --Gold-color: #EFC69B;
    --Red-color: #AF1B3F;
    --Dark-color: #473144;
    --Body-font: Helvetica, Arial, sans-serif;
    --Headline-font: 'Lora', Impact, serif;
    }
/* Accessibility */
.skiptocontent a {
    position: absolute;
    top: -40px;
    text-align: left;
    background-color: var(--Red-color);
    color: white;
}
.skiptocontent a:focus {
    top: 0;
}
/* Grids */
nav {
    border-top: 1px solid var(--Gold-color);
    border-bottom: 1px solid var(--Gold-color);
}
.main-nav {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    justify-content: end;
    justify-items: end;
    padding: 1rem;
    max-width: 90%;
    margin: 0 auto;
}
#blog-feed {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 85%;
    margin: 0 auto;
    padding: 1rem;
}
.left-pannel {
    text-align: right;
    padding: 1rem;
    line-height: 1rem;
    border-right: 1px solid var(--Gold-color);
}
.book-listing {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.book-review {
    display: inline;
}
.read-more {
    display: inline;
}
#filter-pannel {
    border: 1px solid var(--Gold-color);
}
.main-book-info {
    padding: 0 1rem 1rem;

}
/* font and colors */
body {
    color: var(--Dark-color);
    font-family: var(--Body-font);
    width: 75%;
    margin: 0 auto;
}
h1 {
    color: var(--Dark-color);
    font-family: var(--Headline-font);
    font-weight: 600;
    text-align: center;
    padding: 1rem;
}
a {
    color: var(--Red-color);
    text-decoration: none;
    font-weight: 500;
}
.date {
    font-weight: 500;
}
.rating {
    font-size: .40rem;
}
.book-title {
    color: var(--Red-color);
    font-family: var(--Headline-font);
    font-weight: 600;
}
li {
    list-style-type: none ;
}
#book-image {
    margin: 0 auto;
    justify-items: center;
    width: fit-content;
}