@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&display=swap');

:root {
    /* color scheme */
  --primary-color: #211924;
  --secondary-color: #FFFFFC;
  --accent1-color: #A7E9EF;
  --accent2-color: #FFD6A5;
    /* fonts */
  --heading-font: "Oswald";
  --paragraph-font: "DM Sans", Helvetica, sans-serif;
    /* more specific colors */
  --headline-color-on-white: var(--primary-color); /* headlines on a white background */
  --headline-color-on-color: #FFFFFC; /* headlines on a colored background */
  --paragraph-color-on-white: var(--primary-color); /* paragraph text on a white background */
  --paragraph-color-on-color: #FFFFFC; /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--accent1-color);
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: var(--accent2-color);
  --nav-hover-background-color: var(--primary-color);
}
/* Navigation */
nav {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}
nav a {
    text-decoration: none;
    color: var(--paragraph-color-on-color);
}
/* Main stuff */
body {
    font-family: var(--paragraph-font);
    font-size: 1.25em;
    color: var(--paragraph-color-on-white);
    line-height: 22px;
    margin: 0 auto;
}
img {
    max-width: 100%;
    max-height: 100%;
}
#searchDiv {
    height: 2rem;
    width: 80%;
    margin: 40px auto 0px;
    display: flex;
    align-items: center;
    border: 0.4px black solid;
    border-radius: 5px;
}
#searchDiv input {
    height: 20px;   
    width: 100%;
    padding: 5px;
    border: none;
    cursor: text;
    border-radius: 5px;
}
#searchDiv button {
    height: 31px;
    border: none;
    border-left: 1px solid black;
    background-color: var(--accent1-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#replaceable {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 900px;
    margin: 60px auto;
}
#replaceable img {
    max-width: 500px;
    width: 40%;
}
#replaceable p {
    display: inline;
    max-width: 40%;
    height: fit-content;
    margin: auto 0;
}
/* Footer */
footer{
    background-color: var(--primary-color);
    padding: 25px 50px;
}
footer img {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    max-width: 500px;
}
  
#copyright{
    text-align: center;
    padding: 2rem;
}

#copyright p {
    color: #FFFFFC;
    font-size: .8rem;
    letter-spacing: .3rem;
}
/* Activity cards */
.activity-card {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 50px;
    border: 1px solid var(--primary-color);
    padding: 20px;
}
.activity-card h3 {
    font-size: 1.5em;
}
.box {
    display: inline;
    margin: 0 40px 0 0;
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    background-color: var(--accent2-color);
}
.activity-card a {
    color: #0ea4b1;
}
/* Form page */
.busy {
    margin: 40px auto;
    max-width: 500px;
    text-align: center;
}
form h1 {
    margin: 10px auto 30px;
    width: fit-content;
}
* {
    box-sizing: border-box;
}
form,
input,
select,
label {
    padding: 0;
    margin: 0;
    outline: none;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--paragraph-color-on-color);
}
#form-space {
    padding: 20px;
    max-width: 960px;
    margin: 0 auto 50px;
}
form {
    padding: 20px;
    border-radius: 6px;
    background-image: url('../images/beach-background.avif');
}
fieldset {
    margin-bottom: 2em;
    border: 1px solid var(--primary-color);
}
input,
select,
textarea {
    margin-bottom: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    color: var(--primary-color);
    font-size: 1.25rem;
}
input {
    width: 100%;
    padding: 5px;
}
.optional,
.optional label {
    color: var(--primary-color);
}
.optional label,
.optional input,
.optional select {
    display: block;
}
.optional p,
#cost {
    display: inline;
    max-width: 97%;
}
.btn-block {
    margin-top: 10px;
    text-align: center;
}
.btn-block button {
    width: 25%;
    height: 6rem;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background: #eda246;
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}
.btn-block button:hover {
    background: var(--accent2-color);
    color: var(--primary-color);
}
#more{
    text-decoration: none;
    color: #211924;
    font-size: .7rem;
    float: right;
}
#more:hover{
    color: #FFFFFC;
}
#food-mood{
    width: 50%;
}