.content {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  max-width: 600px;
  margin: 50px auto;
  padding: 5% 10%;
  border: solid 1px lightgray;
}

main {
  margin: 0 auto;
}

p {
  font-size: 20px;
}

p:first-child {
  padding: 2rem 0 0;
}

h2 {
  color: #006eb6;
  font-size: smaller;
}

h1,
h2 {
  letter-spacing: 0.2rem;
  text-align: center;
}

li {
  padding: 0.5rem;
}

footer {
  margin: 3rem auto 1rem;
}

.logo {
  display: block;
  width: 150px;
  margin: 0 auto;
}
